<!DOCTYPE html>
<html>
<head>
    <title>Zhren</title>
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <link rel="icon" href="img/icon.png">
    <link rel="stylesheet" type="text/css" href="css/styles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.1.0/magnific-popup.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.1.0/jquery.magnific-popup.min.js"></script>
</head>
<body>
    <div class="displaybarlat">
        <div id="sidebar">
            <div class="toggle-btn">
                <span>&#9776;</span>
            </div>
            <ul>
                <li><a href="https://www.zhren.tk">INICIO</a></li>
                <li><a href="contacto">CONTACTO</a></li>
                <li><a href="designs" target="_blank">ZHREN DESIGN</a></li>
            </ul>
        </div>
    </div>
    <script src="js/bar.js"></script>
    <div class="landing-page">
        <div class="page-content">
            <h1>✨Edén✨</h1>
            <p>
                SERVIDOR VARIADO
            </p>
            <button type="button" class="marginTop40-i-78cZ button-3k0cO7 button-38aScr lookFilled-1Gx00P colorBrand-3pXr91 sizeLarge-1vSeWK fullWidth-1orjjo grow-q77ONN"><div class="contents-18-Yxp">Unirse</div></button>
        </div>
    </div>

</body>
</html>