{% extends "index.html" %} {% block content %}
<div
  class="card text-white mb-3"
  style="width: 18rem;background-color: #161617;"
>
  <img
    src="https://cdn.glitch.com/1274e970-fc06-412c-aa9e-daf3dbf8a89c%2Feden.jpeg?v=1590379169683"
    class="card-img-top"
    alt=""
  />
  <div class="card-body text-center">
    <h5 class="card-title">✨Edén✨</h5>
    <a href="https://discord.gg/sjqDZde" target="_blank" class="btn btn-primary"
      >Unirse al servidor</a
    >
  </div>
</div>
<div
  class="card text-white mb-3"
  style="width: 18rem;background-color: #161617;"
>
  <div class="card-body">
    <h5 class="card-title">Creadores</h5>
    <p class="card-text">
      Zhren#6169 & Franculi#3881
    </p>
  </div>
</div>
{% endblock %}