<!DOCTYPE html>
<html>
  <head>
    <title>O´Connor</title>
    <meta
      name="viewport"
      content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
    />
    <link
      rel="icon"
      href="https://cdn.glitch.com/1274e970-fc06-412c-aa9e-daf3dbf8a89c%2Foconnor.ico?v=1590267515810"
      type="image/x-icon"
    />
    <link rel="stylesheet" href="/style.css"/>
  </head>
  <body>
    <div class="landing-page">
      <div class="page-content">
        <h1>✨Edén✨</h1>
      </div>
    </div>
  </body>
</html>
